.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }
  .player-wrapper1 {
    position: relative;
    padding-top: 50%; /* 720 / 1280 = 0.5625 */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
/**
 * Checkbox Two
 */
 .thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:50%;
  height:auto;
  display:block;
  z-index:999;
}
img:hover {
  transform: scale(1.3);
  }

